<!--WORKER CONTAINER-->
<div class="container">
  <div id="worker-row" class="row">
    <div class="row row-cols-1 row-cols-md-2">
      <div class="col mb-6">
        <h1>CODERS</h1>
        {{#each coders}}
        <div id="html-worker-cards" class="html-worker-cards">
          <img src="{{avatar_src}}" class="card-img-top" alt="Profile Picture">
          <div class="card-body">
            <h5 class="card-title-wp">{{first_name}}</h5>
            <ul id="worker-list">
              <li>Location: {{user_location}}</li>
              <li>Bio: {{user_desc}}</li>
              <li>GitHub: {{github}}</li>
              <li>Speciality: {{speciality}}</li>
              <li>Skills: {{tech_skills}}</li>
            </ul>
            {{/each}}
  
          </div>
        </div>
      </div>
    </div>
  </div>  
</div>