<!--NAVBAR-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <div class="navbar-header">
    <a class="navbar-brand" href="#"><img src="/assets/images/GroupJawr_Logo_B.png" class="img-responsive logo"></a>
  </div>

      <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">HOME <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" href="/workers">WORKER <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" href="/coders">CODER <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" href="/createprofile">BECOME A DONOR <span class="sr-only">(current)</span></a>
      </li>
    </ul>

</nav>
<!--NAVBAR ENDS-->

<!--WORKER CONTAINER-->
<div class="container">
  <div id="worker-row" class="row">
    <div class="row row-cols-1 row-cols-md-2">
      <div class="col mb-6">
         <h1>WORKERS</h1>
        {{#each workers}}
        <div id="html-worker-cards" class="html-worker-cards">
          <img src="{{avatar_src}}" class="card-img-top" alt="Profile Picture">
          <div class="card-body">
            <h5 class="card-title-wp">{{first_name}}</h5>
            <ul id="worker-list">
              <li><a href="#" class="card-link"> Venmo: {{user_venmo}}</a></li>
              <li>Location: {{user_location}}</li>
              <li>Bio: {{user_desc}}</li>
              <li>Technology Needs: {{requests}}</li>
              <li>Special Skills: {{skills}}</li>
            </ul>
            {{/each}}
  
          </div>
        </div>
      </div>
    </div>
  </div>  
</div>